{% load static %}
 <!DOCTYPE html>
<html lang="en"> 
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Platino Edition</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'realCss/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <ul>
        <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Platino Edition</a>
        </li>
        </ul>
        <ul class="right">
         <li><a href="/about">About</a></li>
         <li><a href="/home">home</a></li>
         <!-- <li><a href="/finches">اي شي</a></li> -->
        </ul>
        
      </div>
    </nav>
      </li>
      </ul>
      </header>
      <nav>
        <div class="nav-wrapper grey grey darken-3">
      <ul>
      <li>
      <a href="/Realstate" class="nav-wrapper grey darken-3" data-name="Realstate">
      <span>Real Estate</span>
      </a>
      </li>
      <li>
      <a href="/Car" class="nav-wrapper grey darken-3" data-name="Car">
      <span>Cars</span>
      </a>
      </li>
      <li>
      <a href="/Yacht" class="nav-wrapper grey darken-3" data-name="Yacht">
      <span>Yachts</span>
      </a>
      </li>
      <li>
      <a href="/Jet" class="nav-wrapper grey darken-3" data-name="Jet">
      <span>Jets</span>
      </a>
    </li>

      </nav>
  </header>
   
  <main class="container"> 
    {% block content %}
    {% endblock %}
  </main>
  <footer class="nav-wrapper grey darken-3">
    <div class="right">All Rights Reserved, &copy; Platino &reg; 2022 Platino Edition &nbsp;</div>
  </footer> 
</body> 
</html> 
